$primary-color-01: hsl(14, 45%, 36%);
$primary-color-02: hsl(332, 51%, 32%);
$white-color: hsl(0, 0%, 100%);
$rose-white-color: hsl(330, 100%, 98%);
$eggshell-color: hsl(30, 54%, 90%);
$light-grey-color: hsl(30, 18%, 87%);
$wenge-brown-color: hsl(30, 10%, 34%);
$dark-charcoal-color: hsl(24, 5%, 18%);
$ff-01: "Young Serif", serif;
$ff-02: "Outfit", serif;
$h1: 400 36px/36px $ff-01;
$h2: 28px/28px $ff-01;
$h3: 700 20px/20px $ff-02;
$p: 400 16px/24px $ff-02;
